<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Janus.Windows.Common.JanusApplicationSettings.PolygonManage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Janus.Windows.Common.JanusApplicationSettings.PolygonVillage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Janus.Windows.Common.JanusApplicationSettings.GridExPolygon2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Janus.Windows.Common.JanusApplicationSettings.GridExVillage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Janus.Windows.Common.JanusApplicationSettings.GridExPolygon" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TribalWars.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TribalWars.Properties.Settings>
            <setting name="LastWorld" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLoadWorldDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultServer" serializeAs="String">
                <value>tribalwars.net</value>
            </setting>
            <setting name="CustomColors" serializeAs="String">
                <value />
            </setting>
        </TribalWars.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
